<!DOCTYPE html>
<html>
<head>
  <title>Blackwall</title>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Montserrat:400,700' %>
  <%= stylesheet_link_tag 'application', 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="header">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<h1>blackwall</h1>
			</div>
		</div>
	</div>
</header>

<%= yield %>

</body>
</html>
